__pycache__/
build/
*.egg-info/
*.so
venv_*/
.vs/
.vscode/
.idea/

model_cache

data/logs/
data/alignment/aligned_img/
data/alignment/lmk_proj/
data/alignment/lmk/
data/alignment/resized_img/
data/alignment/seg/
data/inputs/
priors/
ckpts/

*.mp4